{% macro quest_form(quest, session, tutorial=False) %}
{% if tutorial %}
  <form 
    id="form_tutorial"
    hx-post="/register"
  >
{% else %}
  <form 
    class="card"
    id="form_quest_{{ quest.id }}"
    hx-post="/quest/{{ quest.id }}"
    hx-swap="this"
  >
{% endif %}
  <fieldset>
    <legend class="quest">{{ quest.title }}</legend>

    {% if quest.description %}
    <p>{{ quest.description}}</p>
    {% endif %}

    {% for objective in quest.objectives %}
      <div>
        <label>
          {% if session is none %}
            <input type="checkbox" required /></input>
          {% else %}
            <input type="checkbox" disabled checked /></input>
          {% endif %}
          {{ objective }}
        </label>
      </div>
    {% endfor %}

    <div>
      <strong>Reward: </strong> {{ quest.rewards_string() }}
    </div>

    <div>
      {% if session is none %}
        <button>Redeem</button>
      {% else %}
        <button disabled>Redeemed!</button>
      {% endif %}
    </div>

  </fieldset>
</form>
{% endmacro %}
