<html>
<head>
    <title>Daily Quest</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.js" integrity="sha384-ksKjJrwjL5VxqAkAZAVOPXvMkwAykMaNYegdixAESVr+KqLkKE8XBDoZuwyWVUDv" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Daily Quest ({{ session.id }})</h1>
    {% for quest in quests %}
    <form 
      id="form_quest_{{ quest.id }}"
      hx-post="/quest/{{ quest.id }}"
      hx-swap="delete"
    >
      <fieldset>
        <legend>{{ quest.title }}</legend>

        {% if quest.description %}
        <p>{{ quest.description}}</p>
        {% endif %}

        {% for objective in quest.objectives %}
          <div>
            <label>
              <input type="checkbox" required />
              {{ objective }}
            </label>
          </div>
        {% endfor %}

        <div>
          <strong>Reward: </strong> {{ quest.reward }}
        </div>

        <div>
          <button>Redeem</button>
        </div>

      </fieldset>
    </form>
    {% endfor %}
</body>
</html>
